Ejercicio01WebClientANT/web/WEB-INF/wsdl/localhost_8080/Ejercicio01WebServer/Ejercicio01WebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ejercicio01webserver.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejercicio01webserver.mycompany.com/">

<xs:element name="areaTriangulo" type="tns:areaTriangulo"/>

<xs:element name="areaTrianguloResponse" type="tns:areaTrianguloResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="areaTriangulo">
<xs:sequence>
<xs:element name="altura" type="xs:int"/>
<xs:element name="base" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="areaTrianguloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>