Ejercicio7Tema8Client/src/wsdl/localhost_8080/Ejercicio7Tema8Server/loteria.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ejercicio7tema8server.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejercicio7tema8server.mycompany.com/">

<xs:element name="guardarLoteria" type="tns:guardarLoteria"/>

<xs:element name="guardarLoteriaResponse" type="tns:guardarLoteriaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="mostrarLoteria" type="tns:mostrarLoteria"/>

<xs:element name="mostrarLoteriaPorFecha" type="tns:mostrarLoteriaPorFecha"/>

<xs:element name="mostrarLoteriaPorFechaResponse" type="tns:mostrarLoteriaPorFechaResponse"/>

<xs:element name="mostrarLoteriaResponse" type="tns:mostrarLoteriaResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarLoteria">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarLoteriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarLoteriaPorFecha">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarLoteriaPorFechaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarLoteria">
<xs:sequence>
<xs:element name="numero" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarLoteriaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>