Ejercicio7Tema8Client/src/wsdl/localhost_8080/Ejercicio7Tema8Server/loteria.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejercicio7tema8server.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejercicio7tema8server.mycompany.com/" name="loteria">
<types>
<xsd:schema>
<xsd:import namespace="http://ejercicio7tema8server.mycompany.com/" schemaLocation="http://localhost:8080/Ejercicio7Tema8Server/loteria?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="mostrarLoteriaPorFecha">
<part name="parameters" element="tns:mostrarLoteriaPorFecha"/>
</message>
<message name="mostrarLoteriaPorFechaResponse">
<part name="parameters" element="tns:mostrarLoteriaPorFechaResponse"/>
</message>
<message name="mostrarLoteria">
<part name="parameters" element="tns:mostrarLoteria"/>
</message>
<message name="mostrarLoteriaResponse">
<part name="parameters" element="tns:mostrarLoteriaResponse"/>
</message>
<message name="guardarLoteria">
<part name="parameters" element="tns:guardarLoteria"/>
</message>
<message name="guardarLoteriaResponse">
<part name="parameters" element="tns:guardarLoteriaResponse"/>
</message>
<portType name="loteria">
<operation name="hello">
<input wsam:Action="http://ejercicio7tema8server.mycompany.com/loteria/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ejercicio7tema8server.mycompany.com/loteria/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="mostrarLoteriaPorFecha">
<input wsam:Action="http://ejercicio7tema8server.mycompany.com/loteria/mostrarLoteriaPorFechaRequest" message="tns:mostrarLoteriaPorFecha"/>
<output wsam:Action="http://ejercicio7tema8server.mycompany.com/loteria/mostrarLoteriaPorFechaResponse" message="tns:mostrarLoteriaPorFechaResponse"/>
</operation>
<operation name="mostrarLoteria">
<input wsam:Action="http://ejercicio7tema8server.mycompany.com/loteria/mostrarLoteriaRequest" message="tns:mostrarLoteria"/>
<output wsam:Action="http://ejercicio7tema8server.mycompany.com/loteria/mostrarLoteriaResponse" message="tns:mostrarLoteriaResponse"/>
</operation>
<operation name="guardarLoteria">
<input wsam:Action="http://ejercicio7tema8server.mycompany.com/loteria/guardarLoteriaRequest" message="tns:guardarLoteria"/>
<output wsam:Action="http://ejercicio7tema8server.mycompany.com/loteria/guardarLoteriaResponse" message="tns:guardarLoteriaResponse"/>
</operation>
</portType>
<binding name="loteriaPortBinding" type="tns:loteria">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarLoteriaPorFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarLoteria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarLoteria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="loteria">
<port name="loteriaPort" binding="tns:loteriaPortBinding">
<soap:address location="http://localhost:8080/Ejercicio7Tema8Server/loteria"/>
</port>
</service>
</definitions>